@{
    ViewData["Title"] = "Home Page";
    int i = 1;
}
<body background="/img/fondo1.jpg">

<div class="row"> 
    <h1 class="display-4" style="text-align: center;">Bienvenido a: <span class="glow">Enfrentamientos "<b>El Hacker</b>"</span></h1>
</div>
<div class="row">
    <div class="col-8 col-lista">
        <h4 style="text-align: center;">Lista de Luchadores</h4>
        <div style="max-height: 75vh; overflow-y: scroll;">
          <table class="table table-success table-striped tabla-col-fijas">
            
          <thead class="table-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha Nacimiento</th>
                <th scope="col">Acciones</th>
              </tr>
          </thead>
          
          <tbody>
            
              @foreach (Luchador item in ViewBag.ListaLuchadores)
              {
                  <tr class="tr1">
                      <th scope="row">@i</th>
                      <td>@item.Nombre</td>
                      <td>@item.FechaNacimiento.ToShortDateString()</td>
                      <td>
                          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalDetalleLuchador" onclick="DetalleLuchador(@item.IdLuchador)">Ver Detalle</button>
                          <button class="btn btn-info"    data-bs-toggle="modal" data-bs-target="#ModalModificarLuchador">Modificar</button>
                          <button class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#ModalConfirmarEliminar" onclick="ConfirmarEliminar(@item.IdLuchador)">Eliminar</button>
                      </td>
                  </tr>
                  i += 1;
              }
              @if (ViewBag.ListaLuchadores.Count == 0)
              {
                <tr class="tr1">
                      <th scope="row">0</th>
                      <td ><b>No hay luchadores!</b></td>
                      <td><b>-</b></td>
                      <td>
                          <button class="btn btn-primary disabled">Ver Detalle</button>
                          <button class="btn btn-info disabled">Modificar</button>
                          <button class="btn btn-danger disabled">Eliminar</button>
                      </td>
                  </tr>
              }
          </tbody>
          </table>
        </div>
    </div>

    <div class="col-4 contenedor1">
        <a class="lista-vertical" href='@Url.Action("IniciarEnfrentamiento")'>Iniciar Enfrentamiento</a>
        <button class="lista-vertical" data-bs-toggle="modal" data-bs-target="#ModalAgregarJugador">Agregar Luchador</button>
        <a class="lista-vertical" onclick="" href='@Url.Action("Registros")'>Ver Registro de Luchas</a>
        <button class="lista-vertical" data-bs-toggle="modal" data-bs-target="#ModalReiniciarJuego">Reiniciar Juego</button>
        <button class="lista-vertical" data-bs-toggle="modal" data-bs-target="#ModalElimiarListaLuchadores">Eliminar Todos Los Luchadores</button>
    </div>
</div>

</body>

<!-- --------------------------------------- MODAL DETALLE JUGADOR --------------------------------------- -->

<div class="modal fade" tabindex="-1" id="ModalDetalleLuchador">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloDetalleLuchador">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img id="Foto" style="max-width: 100%; height: 12rem;" class="centrado">
        <span id="Victorias" class="centrado"></span>
        <span id="FechaNacimiento"></span><br>
        <span>
            <b class="centrado">─────────────────────────────────────────</b>
            <u class="centrado">ESTADÍSTICAS</u>
        </span>
        <span id="IQ"></span><br>
        <span id="Fuerza"></span><br>
        <span id="Velocidad"></span><br>
        <span id="Resistencia"></span><br>
        <span id="BattleIQ"></span><br>
        <span id="PoderDestructivo"></span><br>
        <span id="Experiencia"></span><br>
        <span id="Transformaciones"></span><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- --------------------------------------- MODAL CONFIRMAR ELIMINAR --------------------------------------- -->

<div class="modal fade" tabindex="-1" id="ModalConfirmarEliminar">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ce-titulo">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="ce-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a class="btn btn-danger" id="ConfirmarEliminar">Eliminar</a>
      </div>
    </div>
  </div>
</div>

<!-- --------------------------------------- MODAL REINICIAR JUEGO --------------------------------------- -->

<div class="modal fade" tabindex="-1" id="ModalReiniciarJuego">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><b>¡Estás a punto de reiniciar el juego!</b></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Al reiniciar se perderán:<br>Las Victorias<br>Los Personajes creados por el usuario.<br><br><u>No se perderán los registros</u><br><br>
      También podés añadir los 8 luchadores del roster inicial a la lista de luchadores sin necesidad de perder nada.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a class="btn btn-warning" asp-area="" asp-controller="Home" asp-action="DuplicarRoster">Añadir roster a la lista</a>
        <a class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="ReiniciarJuego">Reiniciar</a>
      </div>
    </div>
  </div>
</div>

<!-- --------------------------------------- MODAL ELIMINAR LISTA LUCHADORES --------------------------------------- -->

<div class="modal fade" tabindex="-1" id="ModalElimiarListaLuchadores">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><b>¡Estás a punto de eliminar todos los luchadores!</b></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Seguro que quiere elimiar toda la lista de luchadores?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="ElimiarListaLuchadores">Eliminar</a>
      </div>
    </div>
  </div>
</div>

<!-- --------------------------------------- MODAL AGREGAR JUGADOR (no terminado) --------------------------------------- -->
@* q se pueda scrollear adentro del modal *@
<form method="post" action='@Url.Action("GuardarJugador", "Home")'>
<div class="modal fade" tabindex="-1" id="ModalAgregarJugador">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><b>A un paso de crear tu luchador personalizado!</b></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body" style="background-color: #e4e4e4;">
          <h4 style="text-align: center;">DATOS DEL LUCHADOR</h4>
          <div class="input-group mb-3">
            <span style="width: 11rem;" class="input-group-text" id="basic-addon1" value="@jugador.FechaNacimiento">Nombre</span>
            <input type="text" class="form-control" placeholder="axel1234" aria-label="Username"
              aria-describedby="basic-addon1">

            </div>
            <div class="input-group mb-3">
              <span style="width: 11rem;" class="input-group-text" id="basic-addon1">Fecha de Nacimiento</span>
              <input type="Date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">

            </div>


            <div class="input-group mb-3">
              <input type="file" class="form-control">
            </div>


          <!-- ALINEAR TODOS LOS INPUTS -->
          <h4 style="text-align: center;">ESTADÍSTICAS</h4>
          <div class="input-group mb-3">
            <span style="width: 9rem;" class="input-group-text" id="basic-addon1">IQ</span>
            <input type="text" class="form-control" placeholder="min" aria-label="Username"
              aria-describedby="basic-addon1">
            <input type="text" class="form-control" placeholder="max" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <span style="width: 9rem;" class="input-group-text" id="basic-addon1">Fuerza</span>
            <input type="text" class="form-control" placeholder="min" aria-label="Username"
              aria-describedby="basic-addon1">
            <input type="text" class="form-control" placeholder="max" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <span style="width: 9rem;" class="input-group-text" id="basic-addon1">Velocidad</span>
            <input type="text" class="form-control" placeholder="min" aria-label="Username"
              aria-describedby="basic-addon1">
            <input type="text" class="form-control" placeholder="max" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <span style="width: 9rem;" class="input-group-text" id="basic-addon1">Resistencia</span>
            <input type="text" class="form-control" placeholder="min" aria-label="Username"
              aria-describedby="basic-addon1">
            <input type="text" class="form-control" placeholder="max" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <span style="width: 9rem;" class="input-group-text" id="basic-addon1">Battle IQ</span>
            <input type="text" class="form-control" placeholder="min" aria-label="Username"
              aria-describedby="basic-addon1">
            <input type="text" class="form-control" placeholder="max" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <span style="width: 9rem;" class="input-group-text" id="basic-addon1">PoderDestructivo</span>
            <input type="text" class="form-control" placeholder="min" aria-label="Username"
              aria-describedby="basic-addon1">
            <input type="text" class="form-control" placeholder="max" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <span style="width: 9rem;" class="input-group-text" id="basic-addon1">Experiencia</span>
            <input type="text" class="form-control" placeholder="min" aria-label="Username"
              aria-describedby="basic-addon1">
            <input type="text" class="form-control" placeholder="max" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <span style="width: 9rem;" class="input-group-text" id="basic-addon1">Transformaciones</span>
            <input type="text" class="form-control" placeholder="min" aria-label="Username"
              aria-describedby="basic-addon1">
            <input type="text" class="form-control" placeholder="max" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>

        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Crear</button>
        </div>

      

    </div>
  </div>
</div>

</form>