@{
    ViewData["Title"] = "Inicio";
    int i = 1;
    string tablevh = "75vh";
    if(ViewBag.mensaje != String.Empty) tablevh = "65vh";
    Luchador luchador = new Luchador();
}
<style>
  .tabla-luchadores{
    max-height: @tablevh;
    overflow-y: scroll;
  }
</style>

<body background="/img/fondo1.jpg"> @* fondo1.jpg *@

<div class="row"> 
    <h1 class="display-4" style="text-align: center;">Bienvenido a: <span class="glow">Enfrentamientos "<b>El Hacker</b>"</span></h1>
</div>
<div class="row">
    <div class="col-8 col-lista">
      <!-- --------------------------------------- IZQUIERDA --------------------------------------- -->
        <h4 style="text-align: center;">Lista de Luchadores</h4>
        <div class="tabla-luchadores">
          <table class="table table-success table-striped tabla-col-fijas">
            
          <thead class="table-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha Nacimiento</th>
                <th scope="col">Acciones</th>
              </tr>
          </thead>
          
          <tbody>
            
              @foreach (Luchador item in ViewBag.ListaLuchadores)
              {
                  <tr class="tr1">
                      <th scope="row">@i</th>
                      <td>@item.Nombre</td>
                      <td>@item.FechaNacimiento.ToShortDateString()</td>
                      <td>
                          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalDetalleLuchador" onclick="DetalleLuchador(@item.IdLuchador)"><i class="bi bi-person-fill"></i> Detalles</button>
                          <button class="btn btn-info"    data-bs-toggle="modal" data-bs-target="#ModalFormLuchador" onclick="ModificarJugador(@item.IdLuchador)"><i class="bi bi-pencil-square"></i></button>
                          <button class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#ModalConfirmarEliminar" onclick="ConfirmarEliminar(@item.IdLuchador)"><i class="bi bi-trash"></i></button>
                      </td>
                  </tr>
                  i += 1;
              }
              @if (ViewBag.ListaLuchadores.Count == 0)
              {
                <tr class="tr1">
                      <th scope="row">0</th>
                      <td ><b>No hay luchadores!</b></td>
                      <td><b>-</b></td>
                      <td>
                          <button class="btn btn-primary disabled">Ver Detalle</button>
                          <button class="btn btn-info disabled">Modificar</button>
                          <button class="btn btn-danger disabled">Eliminar</button>
                      </td>
                  </tr>
              }
          </tbody>
          </table>
          
        </div>
        @if(ViewBag.mensaje != String.Empty){<div class="alert alert-warning" role="alert" id="MensajeAlerta">@Html.Raw(ViewBag.mensaje)</div>}
    </div>
    <!-- --------------------------------------- DERECHA --------------------------------------- -->
    <div class="col-4 contenedor1">
      <button class="lista-vertical" type="submit" onclick="location.href='@Url.Action("IniciarEnfrentamiento")'">Iniciar Enfrentamiento</button>
      <button class="lista-vertical" data-bs-toggle="modal" data-bs-target="#ModalFormLuchador" onclick="AgregarJugador()">Agregar Luchador</button>
      <button class="lista-vertical" type="submit" onclick="location.href='@Url.Action("Registros")'">Ver Registro de Luchas</button>
      <button class="lista-vertical" data-bs-toggle="modal" data-bs-target="#ModalReiniciarJuego">Reiniciar Juego</button>
      <button class="lista-vertical" data-bs-toggle="modal" data-bs-target="#ModalElimiarListaLuchadores">Eliminar Todos Los Luchadores</button>
    </div>
</div>

</body>

<!-- --------------------------------------- MODAL DETALLE LUCHADOR --------------------------------------- -->

<div class="modal fade" tabindex="-1" id="ModalDetalleLuchador">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloDetalleLuchador">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img id="Foto" style="max-width: 100%; height: 12rem;" class="centrado">
        <span id="Victorias" class="centrado"></span>
        <span id="FechaNacimiento"></span><br>
        <span>
            <b class="centrado">─────────────────────────────────────────</b>
            <u class="centrado">ESTADÍSTICAS</u>
        </span>
        <span id="IQ"></span><br>
        <span id="Fuerza"></span><br>
        <span id="Velocidad"></span><br>
        <span id="Resistencia"></span><br>
        <span id="BattleIQ"></span><br>
        <span id="PoderDestructivo"></span><br>
        <span id="Experiencia"></span><br>
        <span id="Transformaciones"></span><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- --------------------------------------- MODAL CONFIRMAR ELIMINAR --------------------------------------- -->

<div class="modal fade" tabindex="-1" id="ModalConfirmarEliminar">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ce-titulo">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="ce-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a class="btn btn-danger" id="ConfirmarEliminar">Eliminar</a>
      </div>
    </div>
  </div>
</div>

<!-- --------------------------------------- MODAL REINICIAR JUEGO --------------------------------------- -->

<div class="modal fade" tabindex="-1" id="ModalReiniciarJuego">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><b>¡Estás a punto de reiniciar el juego!</b></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Al reiniciar se perderán:<br> • Las Victorias<br> • Los Personajes creados por el usuario<br><br><u>No se perderán los registros</u><br><br>
      También podés añadir los 10 luchadores del roster inicial a la lista de luchadores sin necesidad de perder nada.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a class="btn btn-warning" asp-area="" asp-controller="Home" asp-action="DuplicarRoster">Añadir roster a la lista</a>
        <a class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="ReiniciarJuego">Reiniciar</a>
      </div>
    </div>
  </div>
</div>

<!-- --------------------------------------- MODAL ELIMINAR LISTA LUCHADORES --------------------------------------- -->

<div class="modal fade" tabindex="-1" id="ModalElimiarListaLuchadores">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><b>¡Estás a punto de eliminar todos los luchadores!</b></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Seguro que quiere elimiar toda la lista de luchadores?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="ElimiarListaLuchadores">Eliminar</a>
      </div>
    </div>
  </div>
</div>

<!-- --------------------------------------- MODAL AGREGAR LUCHADOR (no terminado) --------------------------------------- -->

<form method="post" enctype="multipart/form-data" id="fj-form"> @* action='@Url.Action("GuardarLuchador", "Home")' *@
<div class="modal fade" tabindex="-1" id="ModalFormLuchador">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mod-title"> @* <b>A un paso de crear tu luchador personalizado!</b> *@ </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body" style="background-color: #e4e4e4;">
          @* ----------------------------------- DATOS DEL LUCHADOR ----------------------------------- *@
          <h4 style="text-align: center;">DATOS DEL LUCHADOR</h4>
          <div class="input-group mb-3">
            <span style="width: 11rem;" class="input-group-text" id="basic-addon1">Nombre</span>
            <input type="text" class="form-control" placeholder="axel1234"
            name="luchador.Nombre" id="mod-Nombre" @* value="@luchador.Nombre" *@ >
            </div>
            
              <input type="text" class="form-control d-none" name="luchador.IdLuchador" id="mod-id"> @* d-none *@

            <div class="input-group mb-3">
              <span style="width: 11rem;" class="input-group-text" id="basic-addon1">Fecha de Nacimiento</span>
              <input type="Date" class="form-control"
              name="luchador.FechaNacimiento" id="mod-FechaNacimiento" @* value="@luchador.FechaNacimiento" *@>
            </div>

            <div class="mb-3">
              <label for="formFile" class="form-label centrado" style="margin-bottom: 1vh;"><b>Subí tu propia foto!</b></label>
              <input type="file" class="form-control"
              name="MyFile" id="mod-MyFile" @* value="@luchador.Foto" *@ >
            </div>
            @* ----------------------------------- ESTADÍSTICAS ----------------------------------- *@
          <h4 style="text-align: center;">ESTADÍSTICAS</h4>
          
          <button type="button" class="btn btn-outline-success btn-sm" style="margin-bottom: 0.5rem;" onclick="EstadisticasAleatorias()">Estadísticas aleatorias</button>

          <div class="input-group mb-3">
            <span style="width: 9rem;" class="input-group-text" id="basic-addon1">IQ</span>
            <input type="text" class="form-control" placeholder="min"
            name="luchador.IQ_min" id="mod-IQ_min" @* value="@luchador.IQ_min" *@ >
            <input type="text" class="form-control" placeholder="max"
            name="luchador.IQ_max" id="mod-IQ_max" @* value="@luchador.IQ_max" *@ >
          </div>
          
          <div class="input-group mb-3">
            <span style="width: 9rem;" class="input-group-text" id="basic-addon1">Fuerza</span>
            <input type="text" class="form-control" placeholder="min"
            name="luchador.Fuerza_min" id="mod-Fuerza_min" @* value="@luchador.Fuerza_min" *@ >
            <input type="text" class="form-control" placeholder="max"
            name="luchador.Fuerza_max" id="mod-Fuerza_max" @* value="@luchador.Fuerza_max" *@ >
          </div>

          <div class="input-group mb-3">
            <span style="width: 9rem;" class="input-group-text" id="basic-addon1">Velocidad</span>
            <input type="text" class="form-control" placeholder="min"
            name="luchador.Velocidad_min" id="mod-Velocidad_min" @* value="@luchador.Velocidad_min" *@ >
            <input type="text" class="form-control" placeholder="max"
            name="luchador.Velocidad_max" id="mod-Velocidad_max" @* value="@luchador.Velocidad_max" *@ >
          </div>

          <div class="input-group mb-3">
            <span style="width: 9rem;" class="input-group-text" id="basic-addon1">Resistencia</span>
            <input type="text" class="form-control" placeholder="min"
            name="luchador.Resistencia_min" id="mod-Resistencia_min" @* value="@luchador.Resistencia_min" *@ >
            <input type="text" class="form-control" placeholder="max"
            name="luchador.Resistencia_max" id="mod-Resistencia_max" @* value="@luchador.Resistencia_max" *@ >
          </div>

          <div class="input-group mb-3">
            <span style="width: 9rem;" class="input-group-text" id="basic-addon1">Battle IQ</span>
            <input type="text" class="form-control" placeholder="min"
            name="luchador.BattleIQ_min" id="mod-BattleIQ_min" @* value="@luchador.BattleIQ_min" *@ >
            <input type="text" class="form-control" placeholder="max"
            name="luchador.BattleIQ_max" id="mod-BattleIQ_max" @* value="@luchador.BattleIQ_max" *@ >
          </div>

          <div class="input-group mb-3">
            <span style="width: 9rem;" class="input-group-text" id="basic-addon1">PoderDestructivo</span>
            <input type="text" class="form-control" placeholder="min"
            name="luchador.PoderDestructivo_min" id="mod-PoderDestructivo_min" @* value="@luchador.PoderDestructivo_min" *@ >
            <input type="text" class="form-control" placeholder="max"
            name="luchador.PoderDestructivo_max" id="mod-PoderDestructivo_max" @* value="@luchador.PoderDestructivo_max" *@ >
          </div>

          <div class="input-group mb-3">
            <span style="width: 9rem;" class="input-group-text" id="basic-addon1">Experiencia</span>
            <input type="text" class="form-control" placeholder="min"
            name="luchador.Experiencia_min" id="mod-Experiencia_min" @* value="@luchador.Experiencia_min" *@ >
            <input type="text" class="form-control" placeholder="max"
            name="luchador.Experiencia_max" id="mod-Experiencia_max" @* value="@luchador.Experiencia_max" *@ >
          </div>

          <div class="input-group mb-3">
            <span style="width: 9rem;" class="input-group-text" id="basic-addon1">Transformaciones</span>
            <input type="text" class="form-control" placeholder="min"
            name="luchador.Transformaciones_min" id="mod-Transformaciones_min" @* value="@luchador.Transformaciones_min" *@ >
            <input type="text" class="form-control" placeholder="max"
            name="luchador.Transformaciones_max" id="mod-Transformaciones_max" @* value="@luchador.Transformaciones_max" *@ >
          </div>

        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success"
           data-bs-dismiss="modal" id="fj-submit"></button> @* href='@Url.Action("GuardarLuchador", new {luchador=luchador})' *@
        </div>
      

    </div>
  </div>
</div>

</form>